             Making a Portfolio: Equal weight

In [1]:
#Installing Packages

import pandas as pd
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np
from pandas_datareader import data as pdr

In [13]:
#Time interval & Stocks

start_date = '2020-01-01'
end_date = '2025-01-31'
tickers  = ['AAPL','MSFT','NVDA','AMZN','GOOGL','2222.SR','META','TSLA','AVGO','TSM']

In [14]:
#Download the information from yahoo finance. Focus on the Close Price of each share 

data = yf.download(tickers, start=start_date, end = end_date)['Close']
data.head()

[*********************100%***********************]  10 of 10 completed

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
Date,,,,,,,,,,
2020-01-01,24.606327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,24.641378,72.796005,94.900497,27.986176,68.186813,208.981705,153.630676,5.972710,28.684000,54.504322
2020-01-03,NaN,72.088303,93.748497,27.274353,67.830109,207.875931,151.717697,5.877112,29.534000,52.706882
2020-01-05,24.220757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,24.185703,72.662727,95.143997,27.233549,69.638054,211.790970,152.109894,5.901759,30.102667,52.098656

In [15]:
#Replace the NaN values

data.ffill(inplace= True)

print("\nDatos después de reemplazar NaN:")
print(data.head(10))

Datos después de reemplazar NaN:
Ticker        2222.SR       AAPL       AMZN       AVGO      GOOGL        META  \
Date
2020-01-01  24.606327        NaN        NaN        NaN        NaN         NaN
2020-01-02  24.641378  72.796005  94.900497  27.986176  68.186813  208.981705
2020-01-03  24.641378  72.088303  93.748497  27.274353  67.830109  207.875931
2020-01-05  24.220757  72.088303  93.748497  27.274353  67.830109  207.875931
2020-01-06  24.185703  72.662727  95.143997  27.233549  69.638054  211.790970
2020-01-07  24.080551  72.320961  95.343002  27.139799  69.503548  212.249207
2020-01-08  23.975395  73.484352  94.598503  26.801247  69.998245  214.401001
2020-01-09  24.536224  75.045219  95.052498  26.585964  70.733086  217.469284
2020-01-10  24.536224  75.214897  94.157997  25.974831  71.189926  217.230194
2020-01-12  24.396015  75.214897  94.157997  25.974831  71.189926  217.230194

Ticker            MSFT      NVDA       TSLA        TSM
Date
2020-01-01         NaN       NaN        NaN        NaN
2020-01-02  153.630676  5.972710  28.684000  54.504322
2020-01-03  151.717697  5.877112  29.534000  52.706882
2020-01-05  151.717697  5.877112  29.534000  52.706882
2020-01-06  152.109894  5.901759  30.102667  52.098656
2020-01-07  150.722961  5.973208  31.270666  52.942909
2020-01-08  153.123718  5.984412  32.809334  53.333256
2020-01-09  155.036713  6.050137  32.089333  53.769005
2020-01-10  154.319351  6.082501  31.876667  53.433113
2020-01-12  154.319351  6.082501  31.876667  53.433113

In [16]:
#fill NaN values

data.loc['2020-01-01'] = data.loc['2020-01-01'].fillna(0)
data.head(5)

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
Date,,,,,,,,,,
2020-01-01,24.606327,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-02,24.641378,72.796005,94.900497,27.986176,68.186813,208.981705,153.630676,5.972710,28.684000,54.504322
2020-01-03,24.641378,72.088303,93.748497,27.274353,67.830109,207.875931,151.717697,5.877112,29.534000,52.706882
2020-01-05,24.220757,72.088303,93.748497,27.274353,67.830109,207.875931,151.717697,5.877112,29.534000,52.706882
2020-01-06,24.185703,72.662727,95.143997,27.233549,69.638054,211.790970,152.109894,5.901759,30.102667,52.098656

In [17]:
data.describe()

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
count,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000
mean,27.984891,153.801494,147.866164,73.420720,119.948034,305.541291,291.487116,40.104088,216.799002,104.382397
std,3.116712,43.287468,33.666544,49.885954,33.678421,131.000573,83.575318,39.959214,86.493388,38.700392
min,19.488771,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.927532,128.003864,121.104752,42.419850,94.009201,209.380173,230.413815,13.631084,175.055000,81.292358
50%,27.716722,151.852791,154.467499,53.272638,120.038353,282.057571,278.739868,21.750425,221.139999,97.768787
75%,30.729438,179.177612,170.730003,87.898056,141.144829,352.187149,342.540489,46.728790,261.829987,115.543756
max,35.255554,259.019989,238.149994,249.331955,200.869995,687.000000,465.786438,149.429993,479.859985,224.619995

In [19]:
#Calculation Daily Return
returns = data.pct_change()
returns.head()

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
Date,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,0.001424,inf,inf,inf,inf,inf,inf,inf,inf,inf
2020-01-03,0.000000,-0.009722,-0.012139,-0.025435,-0.005231,-0.005291,-0.012452,-0.016006,0.029633,-0.032978
2020-01-05,-0.017070,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-06,-0.001447,0.007968,0.014886,-0.001496,0.026654,0.018834,0.002585,0.004194,0.019255,-0.011540

In [20]:
returns.replace([np.inf, -np.inf], np.nan, inplace=True)
returns.dropna(how='any', inplace=True)

        Creation of portfolio

In [21]:
#Equal weight portofolio; 1/10 = 0.1

weights = np.array([0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])

        Return

In [23]:
#Expected Annualized portfolio return

expected_portfolio_return = np.dot(weights, returns.mean())* 252
print

        Portfolio Risk

In [22]:
# Expected Annualized Volatility
expected_portofolio_volatility = np.sqrt(np.dot(weights.T, np.dot(returns.cov()*252, weights)))

In [26]:
print(f"Expected Annualized Return : {expected_portfolio_return}")
print(f"Expected Annualized Volatility : {expected_portofolio_volatility}")

Expected Annualized Return : 0.30406326716572507
Expected Annualized Volatility : 0.26285263349258586