In [1]:
#Installing Packages

import pandas as pd
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np
from pandas_datareader import data as pdr

In [2]:
#Time interval & Stocks

start_date = '2020-01-01'
end_date = '2025-01-31'
tickers  = ['AAPL','MSFT','NVDA','AMZN','GOOGL','2222.SR','META','TSLA','AVGO','TSM']

In [3]:
#Download the information from yahoo finance. Focus on the Close Price of each share 

data = yf.download(tickers, start=start_date, end = end_date)['Close']
data.head()

[*********************100%***********************]  10 of 10 completed

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
Date,,,,,,,,,,
2020-01-01,24.606325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,24.641382,72.796028,94.900497,27.986181,68.186821,208.981705,153.630692,5.972711,28.684000,54.504322
2020-01-03,NaN,72.088287,93.748497,27.274355,67.830109,207.875916,151.717728,5.877112,29.534000,52.706875
2020-01-05,24.220758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,24.185705,72.662704,95.143997,27.233551,69.638054,211.790985,152.109894,5.901758,30.102667,52.098656

In [4]:
#Replace the NaN values

data.ffill(inplace= True)

print("\nDatos después de reemplazar NaN:")
print(data.head(10))

Datos después de reemplazar NaN:
Ticker        2222.SR       AAPL       AMZN       AVGO      GOOGL        META  \
Date
2020-01-01  24.606325        NaN        NaN        NaN        NaN         NaN
2020-01-02  24.641382  72.796028  94.900497  27.986181  68.186821  208.981705
2020-01-03  24.641382  72.088287  93.748497  27.274355  67.830109  207.875916
2020-01-05  24.220758  72.088287  93.748497  27.274355  67.830109  207.875916
2020-01-06  24.185705  72.662704  95.143997  27.233551  69.638054  211.790985
2020-01-07  24.080553  72.320976  95.343002  27.139795  69.503548  212.249222
2020-01-08  23.975393  73.484352  94.598503  26.801249  69.998245  214.401001
2020-01-09  24.536226  75.045219  95.052498  26.585964  70.733086  217.469284
2020-01-10  24.536226  75.214867  94.157997  25.974831  71.189926  217.230194
2020-01-12  24.396019  75.214867  94.157997  25.974831  71.189926  217.230194

Ticker            MSFT      NVDA       TSLA        TSM
Date
2020-01-01         NaN       NaN        NaN        NaN
2020-01-02  153.630692  5.972711  28.684000  54.504322
2020-01-03  151.717728  5.877112  29.534000  52.706875
2020-01-05  151.717728  5.877112  29.534000  52.706875
2020-01-06  152.109894  5.901758  30.102667  52.098656
2020-01-07  150.722977  5.973209  31.270666  52.942913
2020-01-08  153.123779  5.984412  32.809334  53.333260
2020-01-09  155.036713  6.050136  32.089333  53.769001
2020-01-10  154.319382  6.082500  31.876667  53.433121
2020-01-12  154.319382  6.082500  31.876667  53.433121

In [6]:
#fill NaN values

data.loc['2020-01-01'] = data.loc['2020-01-01'].fillna(0)
data.head(5)

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
Date,,,,,,,,,,
2020-01-01,24.606325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-02,24.641382,72.796028,94.900497,27.986181,68.186821,208.981705,153.630692,5.972711,28.684000,54.504322
2020-01-03,24.641382,72.088287,93.748497,27.274355,67.830109,207.875916,151.717728,5.877112,29.534000,52.706875
2020-01-05,24.220758,72.088287,93.748497,27.274355,67.830109,207.875916,151.717728,5.877112,29.534000,52.706875
2020-01-06,24.185705,72.662704,95.143997,27.233551,69.638054,211.790985,152.109894,5.901758,30.102667,52.098656

In [8]:
data.describe()

Ticker,2222.SR,AAPL,AMZN,AVGO,GOOGL,META,MSFT,NVDA,TSLA,TSM
count,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000,1570.000000
mean,27.984891,153.801493,147.866164,73.420720,119.948034,305.541290,291.487115,40.104088,216.799002,104.382397
std,3.116712,43.287469,33.666544,49.885954,33.678421,131.000573,83.575318,39.959214,86.493388,38.700392
min,19.488770,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.927534,128.003849,121.104752,42.419851,94.009201,209.380173,230.413803,13.631083,175.055000,81.292366
50%,27.716722,151.852798,154.467499,53.272642,120.038353,282.057556,278.739868,21.750425,221.139999,97.768784
75%,30.729438,179.177597,170.730003,87.898048,141.144829,352.187172,342.540482,46.728790,261.829987,115.543756
max,35.255558,259.019989,238.149994,249.331955,200.869995,687.000000,465.786438,149.429993,479.859985,224.619995

In [ ]:
#Basic Risk Measures

mean_return = daily_returns.mean()
std_deviation = daily_returns.std()

print(f"Mean Daily: {mean_return}")
print(f"Volatiluty Daily: {std_deviation}")


#Annualized

annualized_return = mean_return *  252
volatily_annualized = std_deviation *np.sqrt(252)

print(f"Annualized Return : {annualized_return}")
print(f"Annualized Volatility : {volatily_annualized }")